<input type="text" autocomplete="off" placeholder="Enter text for searching" [(ngModel)]="keyword" name="text">

<div class="words-block">
    <div *ngFor="let item of words" class="words-block__item">
        <p class="news-block__title">{{item}}</p>
    </div> 
</div>