<div *ngIf="onlineChecker;else noConnection">
    <div class="info-text">
        <p>Internet connection...</p>
        <p class="req">Requests are sent</p>
    </div>
</div>

<ng-template #noConnection>
    <div class="info-text">
        <p>No internet connection...</p>
        <p>Requests are not sent</p>
    </div>    
</ng-template>