.change-button-block {
    display: flex;
    justify-content: space-evenly;
}

#change-theme-btn {
    font: inherit;
    border: 0;
    outline: 0;
    background-color: #333;
    color: #ecf0f1;
}

#change-theme-btn:hover { 
    text-decoration: underline;
}

#change-theme-btn.dark-theme {
    background-color: #ecf0f1;
    color: #333;
}

