<h1 class="title">Test Angular</h1>
<hr id="line">  
<h2 class="title-small">#1</h2>
<h3 class="title-small">Task: Long polling</h3>
<app-task1></app-task1>
<hr id="line">  
<h2 class="title-small">#2</h2>
<h3 class="title-small">Task: Detect when user is online and logged in</h3>
<app-task2>
  <div class="button-block-auth">
      <app-auth></app-auth>
      <app-registration></app-registration>
      <app-logout></app-logout> 
  </div>  
</app-task2>
<hr id="line">  
<h2 class="title-small">#3</h2>
<h3 class="title-small">Task: Function adds a random number every 500ms and get list of them each 2s</h3>
<app-task3></app-task3>
<hr id="line"> 
<h2 class="title-small">#4</h2>
<h3 class="title-small">Task: Input change</h3>
<app-task4></app-task4>
<hr id="line"> 
<h2 class="title-small">#5</h2>
<h3 class="title-small">Task: Multiple themes structure</h3>
<app-task5></app-task5>
<hr id="line"> 
<h2 class="title-small">#6</h2>
<h3 class="title-small">Task: Conversation and Message models</h3>
<app-task6></app-task6>