.button-block-auth {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

hr {
    border: none;
    background-color: black;
    color: black;
    height: 2px; 
}

.dark-theme {
    background-color: #333;
}

hr.dark-theme {
    background-color: #fff;
    color: #fff;
}

