<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
            </div>
        </div>
        <div class="col-sm-5">
            <label for="roomInput">Choose conversation</label>
            <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
                <option value="Test1">Conversation_1</option>
            </select>
        </div>
        <div class="col sm-2">
            <div class="button-ctrl-block" class="pull-right">
                <div *ngIf="joined == true;else buttonOkJoin"> 
                    <button type="button" style="background-color:grey">Join</button>
                </div>
                <ng-template #buttonOkJoin>
                    <button type="button" (click)="join()">Join</button>
                </ng-template>  
                <div *ngIf="joined == false;else buttonOkLeave"> 
                    <button type="button" style="background-color:grey">Leave</button>
                </div>
                <ng-template #buttonOkLeave>
                    <button type="button" (click)="leave()">Leave</button>
                </ng-template>  
            </div>
        </div>
    </div>

    <div class="row" class="window">
        <div class="well">
            <div *ngFor="let item of messageArray">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="messageText">            
        </div>
        <div class="col-sm-2">
            <div *ngIf="user == '' || room == '' || joined == false;else buttonOk">
                <button type="button" class="pull-right" style="background-color:grey">Send</button>
            </div>
            <ng-template #buttonOk>
                <button type="button" class="pull-right" (click)="sendMessage()" (click)="clearInput()">Send</button>
            </ng-template>    
        </div>
    </div>
</div>
