.button-ctrl-block {
    margin-top:19px;

}

.window{
    margin-left: 2%;
    margin-bottom: 2%;
}

.well {
    width: 80%;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border: 1px dashed #ccc;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

button {
    background-color: #2199e8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-right: 1.0625rem;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: -3%;
}
  
button:hover {
    opacity: 0.8;
}