input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
  
button {
  background-color: #2199e8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-right: 1.0625rem;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
  
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 8px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
  
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

#alert-bad {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #f44336;
  color: white;
  z-index: 1;
}

#alert-bad.show {
  visibility: visible;
}

#alert-good {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #4CAF50;
  color: white;
  z-index: 1;
}

#alert-good.show {
  visibility: visible;
}
  
#alert-inv {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #ff9800;
  color: white;
  z-index: 1;
}

#alert-inv.show {
  visibility: visible;
}
  
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#alert-bad-2 {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #f44336;
  color: white;
  z-index: 1;
}

#alert-bad-2.show {
  visibility: visible;
}

#alert-good-2 {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #4CAF50;
  color: white;
  z-index: 1;
}

#alert-good-2.show {
  visibility: visible;
}
  
#alert-inv-2 {
  visibility: hidden;
  padding: 20px;
  width: 79.1%;
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #ff9800;
  color: white;
  z-index: 1;
}

#alert-inv-2.show {
  visibility: visible;
}

.dark-theme > .modal-content {
  background-color: #333;
  color: #ecf0f1;
}